
<section class="padded padded-t padded-b-0 capped-width left sm-padded-t-lg">
  <h3>{{page.collections.collection-1-name }}</h3>
  <p class="padded-b">{{page.collections.collection-1-description }}</p>
  {{site.data.site-settings.technical.shopify-collection-1 }}
</section>

<section class="padded padded-t-0 padded-b-0 capped-width sm-padded-t-lg">
  <h3>{{page.collections.collection-2-name }}</h3>
  <p class="padded-b">{{page.collections.collection-2-description }}</p>
  {{site.data.site-settings.technical.shopify-collection-2 }}
</section>

<section class="padded padded-t-0 padded-b-0 capped-width sm-padded-t-lg">
  <h3>{{page.collections.collection-3-name }}</h3>
  <p class="padded-b">{{page.collections.collection-3-description }}</p>
  {{site.data.site-settings.technical.shopify-collection-3 }}
</section>

<section class="padded padded-t-0 padded-b-0 capped-width sm-padded-t-lg">
  <h3>{{page.collections.collection-4-name }}</h3>
  <p class="padded-b">{{page.collections.collection-4-description }}</p>
  {{site.data.site-settings.technical.shopify-collection-4 }}
</section>

<section class="padded padded-t-0 padded-b-0 capped-width sm-padded-t-lg">
  <h3>{{page.collections.collection-5-name }}</h3>
  <p class="padded-b">{{page.collections.collection-5-description }}</p>
  {{site.data.site-settings.technical.shopify-collection-5 }}
</section>
